@font-face {
  font-family: "Poppins Regular";
  src: url("../../asset/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../../asset/fonts/Poppins-Medium.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../asset/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../asset/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: block;
}
